<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartelectronicaccesscontrolsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- used to get IP address -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".delete_staff"></activity>
        <activity android:name=".staff_list" />
        <activity android:name=".add_edit_staff" />
        <activity android:name=".staff_management" />
        <activity android:name=".buzzer_control" />
        <activity android:name=".ultrasonicsensor_control" />
        <activity android:name=".led_control" />
        <activity android:name=".door_control" />
        <activity android:name=".hardware_control" />
        <activity android:name=".FileDownload" />
        <activity android:name=".liveStream" />
        <activity android:name=".authenticationPage2" />
        <activity android:name=".authenticationPage1" />
        <activity android:name=".Logout" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".NotificationDetails" />
        <activity android:name=".ResetPassword" android:parentActivityName=".Login" />
        <activity android:name=".WelcomeScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home" />
        <activity android:name=".Login" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat" />


        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_add_alert_black_24dp" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!-- for mlkit -->
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <!-- used for notification manifest -->
        <service android:name=".Notification.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>